.review-card {
  margin-block: 1em;
  padding: 1em;
  background-color: aliceblue;
}

.review-text-div {
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 13.5em;
  cursor: pointer;
}

.review-text-div-open {
  display: flex !important;
  overflow: auto !important;
  height: min-content !important;
  cursor: pointer;
}

.country-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.country {
  width: 100%;
}
