<div class="image-div" style="height: 50vh;" [style.background-image]="'url(\'./assets/img/bg1.png\')'"></div>

<h2 class="text-center seagreen">Отели</h2>

<div class="main-div">
  <div *ngFor="let item of hotelsByCountry; let i = index" class="country-hotel-card" [ngClass]="i === hotelsByCountry.length - 1 ? 'mb-0' : 'mb-5'">
    <div class="country-name" [ngClass]="i % 2 === 0 ? 'justify-content-start' : 'justify-content-end'">
      <h5 class="seagreen m-0">{{item.country}}</h5>
    </div>
    <div class="hotels-div">
      <div *ngFor="let hotel of item.hotels; let i = index" class="hotel-card">
        <div class="d-flex justify-content-between">
          <label class="seagreen me-3">{{hotel.name}}</label>
          <div>
            <i *ngFor="let _ of getRange(hotel.stars)" class="fa-solid fa-star" style="color: palegoldenrod"></i>
          </div>
        </div>
        <hr />
        <label [id]="hotel.id" class="hotel-description text-block mb-2" (click)="showDiscription(hotel.id)">{{hotel.description}}</label>
        <div class="d-flex flex-column mb-2">
          <label class="seagreen text-center">Типы номеров:</label>
          <label *ngFor="let room of hotel.roomTypes"> - {{room}}</label>
        </div>
        <label class="seagreen mb-2">
          Типы питания:
          <label *ngFor="let food of hotel.foodPlan" class="food-plan" (click)="scroll(food)"><i class="fa-solid fa-utensils fa-xs me-1"></i>{{food}}</label>
        </label>
      </div>
    </div>
  </div>
</div>

<div class="image-div my-5" style="height: 20vh;"></div>

<div class="main-div">
  <h5 class="seagreen text-center">Памятка по типам питания</h5>
  <div *ngFor="let food of foodPlan" class="row align-items-center my-3" [id]="food.name">
    <hr class="mb-2"/>
    <label class="col-sm-1 seagreen text-center">{{food.name}}</label>
    <label class="col-sm-1 text-center"><i class="fa-solid fa-arrow-right-long fa-2xl aliceblue"></i></label>
    <label class="col-sm-3 seagreen text-center">{{food.fullName}}</label>
    <label class="col-sm-7 text-block">{{food.description}}</label>
    <hr class="mt-2"/>
  </div>
</div>
