<div class="image-div" style="height: 35vh;" [style.background-image]="'url(\'../../../assets/img/bg1.png\')'"></div>

<div class="main-div">
  <h2 class="text-center seagreen">Типы отдыха</h2>

  <div class="types-div">
    <div *ngFor="let item of list" class="type-card">
      <div class="image-div" style="height: 15vh;" [style.background-image]="'url(\'../../../assets/img/' + item.type.img + '\')'"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-3 px-0 d-flex justify-content-center align-items-center">
            <i class="big-icon my-3" [ngClass]="item.type.icon"></i>
          </div>

          <div class="col-md-9">
            <h5 class="text-center seagreen mb-1">{{item.type.name}}</h5>
            <label [id]="item.type.id" (click)="showTypeDiscription(item.type.id)" class="text-block pe-4 type-description">{{item.type.description}}</label>
          </div>
        </div>
        <hr />
      </div>
      <div class="d-flex align-items-center px-1">
        <i (click)="prev(item)" [ngClass]="item.slideIndex !== 0 ? 'c-btn' : 'c-btn-disable'" class="fa-solid fa-caret-left fa-2xl mx-3 third-color"></i>

        <div class="carousel">
          <div *ngFor="let tour of item.list" [ngClass]="item.type.id.toString()" class="carousel-slide">
            <div class="container mb-3">
              <div class="row">
                <div class="col-sm-8">
                  <a class="d-block text-center seagreen my-1" (click)="scroll(tour.id)">
                    {{tour.name}}<i *ngIf="tour.isPopular === true" class="fa-solid fa-fire-flame-curved ms-2" style="color: indianred" title="Пользуется популярностью!"></i>
                  </a>
                  <div>
                    <i class="fa-solid fa-globe me-2 seagreen"></i>
                    <label class="seagreen">{{tour.country}}</label>
                  </div>
                  <label>{{tour.duration}} - ${{tour.price}}</label>
                </div>

                <div class="col-sm-4">
                  <div class="tour-img" [style.background-image]="'url(\'../../../assets/img/' + tour.image + '\')'"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <i (click)="next(item)" [ngClass]="item.slideIndex !== item.list.length - 1 ? 'c-btn' : 'c-btn-disable'" class="fa-solid fa-caret-right fa-2xl mx-3 third-color"></i>
      </div>
    </div>
  </div>
</div>
