@import url("..\\ClientApp\\node_modules\\@fortawesome\\fontawesome-free\\css\\all.css");

:root {
  --third-color: #b5c9da;
}

body {
  margin-inline: 0;
}

footer {
  width: 100%;
  background-color: aliceblue;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

app-nav-menu {
  display: flex;
  justify-content: center;
}

h1, h2, h3, h4, h5 {
  font-family: "Courier New", monospace;
  margin-block: 1em;
}

label {
  font-family: "Courier New", monospace;
}

hr {
  color: seagreen;
}

b {
  color: seagreen;
  font-weight: 900;
}

a {
  text-decoration: none;
  color: seagreen;
  font-family: "Courier New", monospace;
}

a:hover {
  color: #b5c9da;
}

input {
  border: 2px solid var(--third-color);
  font-family: "Courier New", monospace;
  outline: none;
  cursor: text;
}

  input:focus-within, input:focus {
    border: 2px solid seagreen;
  }

  input[type="checkbox"]:checked {
    accent-color: var(--third-color);
  }

.main-container {
  display: block;
  margin: auto;
}

.main-div {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.image-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: aliceblue;
  width: 100%;
}

.img-hover:hover {
  transform: scale(1.05, 1);
}

.text-block {
  font-family: "Courier New", monospace;
  font-weight: 300;
  text-align: justify;
  text-indent: 4em;
}

.review-text {
  font-family: "Font Awesome 6 Free" !important;
  font-style: italic;
  text-align: justify;
  font-weight: 300;
  text-indent: 4em;
}

.font-courier-new {
  font-family: "Courier New", monospace;
}

.seagreen {
  color: seagreen;
}

.third-color {
  color: var(--third-color)
}

.aliceblue {
  color: aliceblue;
}

.subtitle {
  font-family: "Courier New", monospace;
  color: seagreen;
  font-weight: 300;
  text-align: center;
  width: 100%;
  margin-block: 0.5em;
}

.btn {
  font-family: "Courier New", monospace;
  color: seagreen;
  background-color: aliceblue;
  border: 2px solid seagreen;
  border-radius: 0;
  padding-inline: 1.5em;
  padding-block: 0.4em;
  transition: 0.5s;
}

.sm-btn {
  font-family: "Courier New", monospace;
  color: seagreen;
  background-color: aliceblue;
  border: 2px solid seagreen;
  border-radius: 0;
  padding-inline: 0.5em;
  padding-block: 0.2em;
  font-size: 14px;
  transition: 0.5s;
}

  .btn:hover, .sm-btn:hover {
    color: var(--third-color);
    border: 2px solid var(--third-color);
  }

  .btn:active, .sm-btn:active {
    color: aliceblue;
    background-color: seagreen;
    border: 2px solid aliceblue;
  }

.fa-brands {
  color: var(--third-color) !important;
  cursor: pointer;
  transition: 1s;
}

.big-icon {
  color: aliceblue;
  font-size: 5em;
}

.dropdown-list {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 15em;
  height: 20vh;
  overflow: auto;
  background: white;
  padding: 1em;
  margin-top: 0;
  list-style-type: none;
  z-index: 2;
}

  .dropdown-list li {
    color: seagreen;
    margin-inline: 1em;
    margin-block: 0.5em;
    padding-inline: 1em;
    padding-block: 0.3em;
    cursor: pointer;
    transition: 0.5s;
  }

    .dropdown-list li:hover {
      margin-inline: 0.5em;
    }

.dropdown-list-open {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 768px) {
  .fa-brands {
    font-size: 1.5em;
  }
}
