<div class="image-div"></div>

<div class="main-div">
  <h2 class="text-center" style="color: seagreen">О нас</h2>
  <h5>История</h5>
  <label class="text-block">{{historyText}}</label>
  <label class="text-block">{{historyConclusion}}</label>
</div>

<div class="image-div-20vh my-5"></div>

<div class="main-div">
  <h5>Миссия</h5>
  <label class="text-block">{{mission}}</label>
  <hr />
</div>

<div class="main-div">
  <div class="grid">
    <div class="row">
      <div class="col-md-6">
        <h5>Ценности</h5>
        <div *ngFor="let value of values">
          <label class="subtitle"><i class="fa-solid fa-check-double me-3"></i>{{value.title}}</label>
          <label class="text-block">{{value.text}}</label>
        </div>
        <hr />
      </div>
      <div class="col-md-6">

      </div>
    </div>
  </div>

  <h5>Контакты</h5>
  <div class="grid">
    <div class="row">
      <div class="d-flex flex-column align-items-center col-md-4 my-4">
        <i class="fa-solid fa-map-location-dot big-icon"></i>
        <label class="subtitle">Адрес</label>
        <label class="font-courier-new">г. Минск, ул. Центральная 2A</label>
      </div>
      <div class="d-flex flex-column align-items-center col-md-4 my-4">
        <i class="fa-solid fa-phone big-icon"></i>
        <label class="subtitle">Телефон</label>
        <label class="font-courier-new">+ 375 (29) 123 45 67</label>
      </div>
      <div class="d-flex flex-column align-items-center col-md-4 my-4">
        <i class="fa-solid fa-envelope big-icon"></i>
        <label class="subtitle">Почта</label>
        <label class="font-courier-new">infinixus@gmail.com</label>
      </div>
    </div>
  </div>
</div>
