<div class="image-div" style="height: 50vh;" [style.background-image]="'url(\'./assets/img/bg3.png\')'"></div>

<div class="main-div">
  <h2 class="text-center seagreen">О нас</h2>
  <h5>История</h5>
  <label class="text-block">{{historyText}}</label>
  <label class="text-block">{{historyConclusion}}</label>
</div>

<div class="image-div my-5" style="height: 20vh;"></div>

<div class="main-div">
  <h5>Миссия</h5>
  <label class="text-block">{{mission}}</label>
  <hr />
</div>

<div class="main-div" (window:resize)="onResize($event)">
  <div class="grid">
    <div class="row">
      <div class="col-md-6">
        <h5>Ценности</h5>
        <div *ngFor="let value of values">
          <label class="subtitle"><i class="fa-solid fa-check-double me-3"></i>{{value.title}}</label>
          <label class="text-block">{{value.text}}</label>
        </div>
        <hr />
      </div>
      <div class="col-md-6">
        <div class="image-div d-flex justify-content-center align-items-end ms-5" [style.background-image]="'url(\'./assets/img/bg6.jpg\')'" style="height: 100%;">
          <label *ngIf="windowWidth < 768 ? false : true" style="background: aliceblue; padding: 1em;">- фотография нашего клиента из тура "Отдых на Бали"</label>
        </div>
      </div>
    </div>
  </div>

  <h5>Контакты</h5>
  <div class="grid">
    <div class="row">
      <div class="d-flex flex-column align-items-center col-md-4 my-4">
        <i class="fa-solid fa-map-location-dot big-icon"></i>
        <label class="subtitle">Адрес</label>
        <label class="text-center">г. Минск, ул. Центральная 2A</label>
      </div>
      <div class="d-flex flex-column align-items-center col-md-4 my-4">
        <i class="fa-solid fa-phone big-icon"></i>
        <label class="subtitle">Телефон</label>
        <label class="text-center">+ 375 (29) 123 45 67</label>
      </div>
      <div class="d-flex flex-column align-items-center col-md-4 my-4">
        <i class="fa-solid fa-envelope big-icon"></i>
        <label class="subtitle">Почта</label>
        <label class="text-center">infinixus@gmail.com</label>
      </div>
    </div>
  </div>
</div>
