<div class="image-div"></div>

<div class="main-div">
  <h2 class="text-center" style="color: seagreen">О нас</h2>
  <h5>История</h5>
  <label class="text-block">
    В самом начале нашего пути лежала невероятная страсть к исследованиям и бескрайним горизонтам.
    Мы, группа исследователей и путешественников, собрались вместе, чтобы создать нечто уникальное,
    что воплощало бы наше желание преодолевать границы и исследовать бескрайние просторы этого мира.
    И так родилось <b>Infinixus</b> - не просто туристическое агентство, а платформа для тех, кто ищет
    бескрайние возможности открытий. Название <b>"Infinixus"</b> символизирует бесконечные горизонты,
    которые мы стремимся предоставить каждому путешественнику.
    Наша история началась с мечты о том, чтобы позволить людям пересекать границы, и не только географические.
    Мы хотели создать среду, где каждый может находить свои уникальные истории, погружаться в разнообразие
    культур и ощущать невероятные моменты в путешествиях.
  </label>
  <label class="text-block">
    <b>Infinixus</b> - это не только о новых местах и приключениях, но и об обогащении жизни через понимание и
    уважение к различиям. Мы создали это агентство, чтобы каждый, кто доверяет нам свои мечты о путешествиях,
    мог чувствовать себя частью бескрайнего мира возможностей и открытий.
    Добро пожаловать в <b>Infinixus</b>, где ваши горизонты бескрайни!
  </label>
</div>

<div class="line-image-div my-5"></div>

<div class="main-div">
  <h5>Миссия</h5>
  <label class="text-block">
    Наша миссия в <b>Infinixus</b> - открывать бесконечные возможности для путешественников, помогая им исследовать
    новые горизонты, погружаться в разнообразие культур и создавать незабываемые моменты в путешествиях.
    Мы стремимся быть не просто туристическим агентством, а платформой для тех, кто ищет нечто большее в
    своих путешествиях - новые переживания, обогащение жизни и глубокое понимание мира.
  </label>
  <hr />
</div>

<div class="main-div">
  <div class="grid">
    <div class="row">
      <div class="col-md-6">
        <h5>Ценности</h5>
        <div>
          <label class="subtitle"><i class="fa-solid fa-check-double me-3"></i>Исследование и открытие</label>
          <label class="text-block">
            Мы приветствуем любознательность и стремление к новым открытиям. В <b>Infinixus</b> мы поощряем исследование
            разнообразных культур, традиций и мест, чтобы каждый путешественник мог расширить свои горизонты.
          </label>
          <label class="subtitle"><i class="fa-solid fa-check-double me-3"></i>Уважение и толерантность</label>
          <label class="text-block">
            Мы ценим и уважаем разнообразие и культурное наследие мира. В <b>Infinixus</b> мы создаем среду, где
            каждый чувствует себя принятым и где уважение к различиям является основой нашей работы.
          </label>
          <label class="subtitle"><i class="fa-solid fa-check-double me-3"></i>Эмоциональное путешествие</label>
          <label class="text-block">
            Мы верим, что путешествия должны быть не просто переездом из одной точки в другую, а насыщенным
            эмоциональным опытом. В <b>Infinixus</b> мы стремимся создавать для наших клиентов незабываемые моменты
            и впечатления, которые останутся с ними на всю жизнь.
          </label>
          <label class="subtitle"><i class="fa-solid fa-check-double me-3"></i>Профессионализм и качество</label>
          <label class="text-block">
            Мы гордимся высоким уровнем сервиса и профессионализмом наших сотрудников. В <b>Infinixus</b> мы предлагаем
            клиентам только лучшие услуги и стремимся превзойти их ожидания в каждом путешествии.
          </label>
          <label class="subtitle"><i class="fa-solid fa-check-double me-3"></i>Социальная ответственность</label>
          <label class="text-block">
            Мы осознаем важность устойчивого развития и социальной ответственности. В <b>Infinixus</b> мы поддерживаем
            инициативы по охране окружающей среды и участвуем в благотворительных проектах, чтобы внести свой вклад в создание лучшего мира.
          </label>
        </div>
        <hr />
      </div>
      <div class="col-md-6">

      </div>
    </div>
  </div>
 
  <h5>Контакты</h5>
  <div class="grid">
    <div class="row">
      <div class="d-flex flex-column align-items-center col-md-4 my-4">
        <i class="fa-solid fa-map-location-dot big-icon"></i>
        <label class="subtitle">Адрес</label>
        <label class="font-courier-new">г. Минск, ул. Центральная 2A</label>
      </div>
      <div class="d-flex flex-column align-items-center col-md-4 my-4">
        <i class="fa-solid fa-phone big-icon"></i>
        <label class="subtitle">Телефон</label>
        <label class="font-courier-new">+ 375 (29) 123 45 67</label>
      </div>
      <div class="d-flex flex-column align-items-center col-md-4 my-4">
        <i class="fa-solid fa-envelope big-icon"></i>
        <label class="subtitle">Почта</label>
        <label class="font-courier-new">infinixus@gmail.com</label>
      </div>
    </div>
  </div>
</div>
